{% extends "templates/default.html" %}
{% set title = "BuhOne - Бухгалтерские услуги" %}

{% block content %}
<main class="main">
  <section class="preview">
    <div class="preview__slider">
      <div class="preview__slide s1">
        <img class="preview__img" src="img/promo.jpg" alt="">
        <div class="preview__description">
          <h2>Бухгалтерские услуги
            в Санкт-Петербурге</h2>
          <a href="#">Наша презинтация</a>
        </div>
      </div>
      <div class="preview__slide">
        <img class="preview__img" src="img/promo.jpg" alt="">
        <div class="preview__description">
          <h2>Бухгалтерские услуги
            в Санкт-Петербурге</h2>
          <a href="#">Наша презинтация</a>
        </div>
      </div>
      <div class="preview__slide">
        <img class="preview__img" src="img/promo.jpg" alt="">
        <div class="preview__description">
          <h2>Бухгалтерские услуги
            в Санкт-Петербурге</h2>
          <a href="#">Наша презинтация</a>
        </div>
      </div>
      <div class="preview__slide">
        <img class="preview__img" src="img/promo.jpg" alt="">
        <div class="preview__description">
          <h2>Бухгалтерские услуги
            в Санкт-Петербурге</h2>
          <a href="#">Наша презинтация</a>
        </div>
      </div>
      <div class="preview__dots">
        <input type="radio" name="r" id="r1" checked>
        <input type="radio" name="r" id="r2">
        <input type="radio" name="r" id="r3">
        <input type="radio" name="r" id="r4">
        <label for="r1" class="preview__dot"></label>
        <label for="r2" class="preview__dot"></label>
        <label for="r3" class="preview__dot"></label>
        <label for="r4" class="preview__dot"></label>
      </div>
      <div class="preview__arrows">
        <button></button>
        <button></button>
      </div>
    </div>
  </section>
</main>
{% endblock %}